@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --very-dark-blue: #1b2538;
  --mustard-yellow: #ffad00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: url("https://pub-94dc47df391c4556bac5370df0514d7d.r2.dev/graph.png");
  background-repeat: repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.styled-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffad00;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid transparent;
  position: relative;
  transition: all 0.3s ease;
}

.styled-button::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 107%;
  height: 2px;
  background-color: #ffad00;
  transition: all 0.3s ease;
}

.styled-button::before {
  content: "";
  position: absolute;
  right: -6px;
  top: 0;
  width: 2px;
  height: 120%;
  background-color: #ffad00;
  transition: all 0.3s ease;
}

.styled-button:hover::after,
.styled-button:hover::before {
  background-color: transparent;
}

.styled-button:hover {
  background-color: white;
  color: #001a40;
  border-color: #001a40;
}

.slanted-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 100%);
}

.image-container {
  display: inline-block;
  position: relative;
}
.image-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(var(--very-dark-blue) 1px, transparent 1px);
  background-size: 3px 3px;
}
